@page "{id:int}"
@model Aula04.RazorPages.Pages.Cursos.Details

<h1>Detalhes do Curso</h1>

<div>
    <p><strong>Nome:</strong> @Model.CursoModel.NomeCurso</p>
    <p><strong>Descrição:</strong> @Model.CursoModel.Descricao</p>
    <p><strong>Data de inicio:</strong> @Model.CursoModel.DataInicio</p>
    <p><strong>Data de término:</strong> @Model.CursoModel.DataTérmino</p>

    <p>Alunos: </p>
    @foreach (var alunoModel in Model.CursoModel.Alunos!)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => alunoModel.AlunoID)</td>
                        <td>@Html.DisplayFor(model => alunoModel.NomeAluno)</td>
                        <td>@Html.DisplayFor(model => alunoModel.Email)</td>
                        
                    </tr>
                }
</div>

<a asp-page="Index">Voltar para a lista</a>